logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
yarn.lock
!reload.js
package-lock.json
.github
_config.json

app/**/*.js
test/**/*.js
!test/mockData/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

.travis.yml
appveyor.yml
typings/app/**/*.d.ts
typings/config/**/*.d.ts
!install/*.js
!install/**/*.js
app/public/json/*
app/public/img/*
temp/*